*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    padding: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.h-prime{
    font-size: 20px;
    font-weight: 600;
    color: white;

}

.center{
    text-align: center;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10%;
}

.col-1{
    flex-basis: 100%;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
form{
    display: block;
}
.input-group{
    padding: 10px 5px;
}

.input-group input{
    width: 100%;
    padding: 10px 0px;
    border-radius: 20px;
    transition:all 0.8s;

}
.input-group label{
    color: white;
}

.input-group input:hover{
    outline: none;
box-shadow: 0px 0px 5px #4D5CCF;
border:1px solid #F7BA7C;
border-radius:0px;
}

.input-group input:focus{
    outline: none;
    box-shadow: 0px 0px 5px #D977A6;
    border-color: #D977A6;
    border-radius:0px;
}

.input-group button{
    background-color: blue;
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    width: 100%;
    border: none;
    transition:all 0.8s;
    cursor: pointer;
}

.input-group button:hover{
    background-color: white;
    color: blue;
    border: 2px solid blue;
}